.macro {
    position: absolute;
    /*top: 150px;*/
    width: 600px;
}
.container {
    height: 120px;
    width: inherit;
}
.labels {
    display: inline;
    /*position: relative;*/
    /*padding-top: 8px;*/
    width: 170px;
}
.fields {
    display: inline;
    /*position: relative;*/
    padding-top: 8px;
    width: 170px;
}
/*.fields {
    display: inline;
    position: relative;
    left: 180px;
}*/
input {
    display: block;
    margin: 12px;
}
.macro2 {
    position: fixed;
}
.container2 {
    height: 300px;
}
.cv {
    position: relative;
    top: 120px;
    width: 400px;
    height: 300px;
}
